<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>436120981538-goc573rfs97gforp3s8qk68e7k21h445.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436120981538-goc573rfs97gforp3s8qk68e7k21h445</string>
	<key>API_KEY</key>
	<string>AIzaSyAyCQaSjOIwWSm0m8cNbGEF-gxK--5bG88</string>
	<key>GCM_SENDER_ID</key>
	<string>436120981538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.mehe.Expecting</string>
	<key>PROJECT_ID</key>
	<string>project-5981043499620757499</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5981043499620757499.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:436120981538:ios:348813d975f9bee3</string>
	<key>DATABASE_URL</key>
	<string>https://project-5981043499620757499.firebaseio.com</string>
</dict>
</plist>